<html>
    <head>
        <script type="text/javascript" src="public/angular/angular.min.js"></script>
        <link rel="stylesheet" href="public/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="front/styles.css">
        
    </head>
    <body ng-app="colorTvDemo">
        <div class="container">        
            <h1 class="text-center"><%= title %></h1>
            <div ng-controller="MainController as mainController" 
                ng-init='init({list: <%- JSON.stringify(list) %>})'>
                <div class="row">
                    <div class="col-lg-3">
                        <country-list param="mainController.list" 
                            selected-country="mainController.countryChanged(activeCountry)">
                        </country-list>
                    </div>
                    <div class="col-lg-9">
                        <country-info param="mainController.activeCountry"></country-info>
                    </div>
                </div>
            </div>        
        </div>    
    </body>
    <script src="front/app.js"></script>
</html>
